<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Papyrus Oxygen Nightly" sequenceNumber="1479378486">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.examples.classic.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xwt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.redist.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.9.0.v201608061824"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.9.0.v201608061824"/>
<repository location="http://download.eclipse.org/webtools/downloads/drops/R3.9.0/S-3.9.0M3-20161031000121/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.tablecombo.feature.feature.group" version="1.0.0.201609231530"/>
<unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.0.0.201609231530"/>
<repository location="http://download.eclipse.org/nebula/releases/1.1.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.4.0.201606011907"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.4.0.201606011907"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.4.0.201606011907"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.4.0.201606011907"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.0.0.201606011907"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="1.0.0.201606011907"/>
<repository location="http://download.eclipse.org/nattable/releases/1.4.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.sdk.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.papyrus.toolsmiths.feature.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/oxygen/"/>
</location>
</locations>
</target>
